<!DOCTYPE html>
<html>
<head>
	<%- include('header.ejs') %>

	<link rel="stylesheet" type="text/css" href="stylesheet.css"/>
	<title>All About Gronk</title>

	<style type="text/css">
		h1 {
			color: #ff8282;
			text-align: center;
			font-family: cursive;
		}
		h2 {
			color: rgb(255, 130, 130);
			text-align: center;		
		}
		h3 {
			color: darkblue;
		}

		img {
			display: block;
    		margin-left: auto;
    		margin-right: auto;
		}

		body {
			background-color: mistyrose;

		}

	</style>
</head>
<body>
	<div id="mainpanel">
		<h1>Top 10 Gronk Facts</h1>
		<ol>
			<li>He's perfect</li>
			<li>Number 1</li>
			<li>Number 1</li>
			<li>Number 1</li>
			<li>Number 1</li>
			<li>Number 1</li>
			<li>Number 1</li>
			<li>Number 1</li>
			<li>Number 1</li>
			<li>Number 1</li>
		</ol>

	</div>

	<%- include('navbar.ejs') %>

</body>
</html>