<html>

<head>
    <title>All About Gronk</title>
    <%- include('header.ejs') %>
</head>

<body>


</body>

<h1>Gronk Smash</h1>

<a href="write/">Write a post</a>

<%- include('navbar.ejs') %>

</html>