<html>
    <head>
            <title>ROB GRONKOWSKI</title>
            <link rel="stylesheet" type="text/css" href="stylesheet.css"/>
    </head>

    <body>
        <div id="mainpanel">
            I wish I was Camille Kostek
        </div>    
            <%- include('navbar.ejs') %>
    </body>
</html>