<div id="navbar">

<a href="/">Home</a> &diam;
<a href="/Aboutme">Gronk Gronk Gronk</a> &diam;
<span id="navwelcome"></span>

</div>

<script>


$(function() {
    var name = "<%=data.username %>";
    var greetNewcomer = "<input type='text'/><button>Tell me your name</button>";

    const sayYourName = function() {
        var visitorName = $('#navwelcome > input').val();
            $.ajax({
                type:'post',
                url:'welcome',
                data: {
                    'nombre': visitorName
                },
                success: (data) => {
                    if (data=='SUCCESS') $('#navwelcome').html("Welcome, "+visitorName+"!");
                }
            }); 
    }
    if(name=="") {
        $('#navwelcome').html(greetNewcomer)
        $('#navwelcome > button').on('click', sayYourName);
        $('#navwelcome > input').on('keyup', (key) => {
            if(key.code==13) sayYourName();
        });
    }
    else { 
    $('#navwelcome').html("Welcome, "+name+"!")
    }
});


</script>